@media (max-width:1200px) {
	#nav ul li a {font-size:13px}
	#welcome_section h2 {font-size: 36px;}
	section { padding:20px 0; }
	fieldset ul.checkbox_list li {margin-right: 0; padding: 0 10px;}
	fieldset {margin: 20px 0 0; min-width: 0; padding: 10px;}
}


@media (min-width:992px) and (max-width:1199px) {
	.top_info {margin-bottom:10px; margin-top: 7px;}
	#nav{width:100%}
	#nav ul li a {padding: 0 7px;}
	#blog_slider .owl-prev, #blog_slider .owl-next {position:relative; top:0;  transform:none; -webkit-transform:none;}
	#blog_slider .owl-prev {left:-10px; right: auto;}
	#blog_slider .owl-next {left: auto; right: -10px;}
	
	
	.banner .banner_caption {width: 60%;}
	.banner .banner_caption h1 { font-size: 40px;}
	.banner .banner_caption h3 {font-size: 24px; margin: 0 0 20px;}
	
	#services_section h3 {font-size: 17px; margin-bottom:5px;}
	.copyrights_bar {font-size: 13px;}
}

@media (min-width:768px) and (max-width:991px) {
	.top_info {margin-bottom:10px; margin-top: 7px;}
	#nav{width:100%}
	#nav ul li a {padding: 0 4px;}
	#blog_slider .owl-prev, #blog_slider .owl-next {position:relative; top:0;  transform:none; -webkit-transform:none;}
	#blog_slider .owl-prev {left:-10px; right: auto;}
	#blog_slider .owl-next {left: auto; right: -10px;}
	
	
	.banner .banner_caption {width: 100%;}
	.banner .banner_caption h1 { font-size: 40px;}
	.banner .banner_caption h3 {font-size: 24px; margin: 0 0 20px;}
	
	#services_section h3 {font-size: 18px;}
	.copyrights_bar {font-size: 13px;}
	.h2, h2 { font-size: 28px;}
}
@media (max-width:767px) {
	#nav{display:none}
	.mm-header{display:block}
	#nav-bar {height: auto; position: absolute; right: 10px; top:0;}
	

.top_info ul { text-align:center;}
.top_info ul li {margin-bottom: 10px; margin-left: 15px;  margin-right: 3px;}
.top_info {margin-bottom:0; margin-top:7px;}

.banner .banner_caption h1 {font-size:14px; margin:0 0 6px;}
.banner .banner_caption h3 {font-size:13px; margin:0 0 8px; padding:0;}
.book_a_free_trial_button {font-size:13px; padding:8px 13px;}

#hero_banner { background-color:#000; }
#hero_banner .item .banner_caption { padding:15px; display:none; }
.banner .banner_caption {left: 0; position: relative;  text-align: center;  top:0;  transform: none;  z-index: 999999999;}

#services_section .container, #blog_section .container { max-width:450px; margin:0 auto; }

.copyrights_bar .col-sm-6 { text-align:center; }

#blog_slider .owl-prev, #blog_slider .owl-next {position:relative; top:0;  transform:none; -webkit-transform:none;}
#blog_slider .owl-prev {left:-10px; right: auto;}
#blog_slider .owl-next {left: auto; right: -10px;}
.top_loginbar { padding-right:0;}
.top_loginbar form .form-control { margin-bottom:10px;}
.top_loginbar form .btn { width:100%; margin-bottom:10px;}
.mm-header a { top:200px;}
}


@media all and (max-width: 580px) {
	.info_block { width:300px; float:none; margin:0 auto 20px; text-align:center;}
	.info_block a { float:none;}	
	.top_info { float:none; text-align:center}
	.top_info ul { text-align:center}
}

@media all and (max-width: 480px) {
.mm-header{height:47px}
.mm-header a{padding:4px 0}
ul.cont_social { float:none;}
footer .info_block { text-align:left; float:left; margin-top:20px;}
}