/*
Theme Name: Single Page Site
Theme URI: http://proximatesolutions.com/
Author: Proximate Solutions
Author URI: http://proximatesolutions.com/
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300");
@import url("css/font-awesome.min.css");


body {font-family: 'Open Sans', sans-serif; font-size:15px; line-height:24px; font-weight:400; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%;	overflow-x:hidden; overflow-y:scroll;}
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; line-height:1.1; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {padding: 10px 0 0;}

a{ transition:all ease 0.2s 0s; -webkit-transition:all ease 0.2s 0s}
a:hover{text-decoration:none; outline:0;}
a:focus {outline:0; text-decoration:none;}
img {width:auto; height:auto; max-width:100%; vertical-align: middle; border:0; -ms-interpolation-mode:}
section { padding:60px 0; display:block; position:relative; }
section h2 { font-size:36px; }
section h2.welcome_heading { font-size:48px; }

.selectfeilds {position: relative;}
.selectfeilds select {-moz-appearance:none; -webkit-appearance:none; background:url("images/select-grey.png") no-repeat scroll calc(100% - 15px) center; display: inline-block; float: left; padding: 7px; width: 100%;}
.clear2px { clear:both; padding:1px; }
.clear10px { clear:both; padding:5px; }
.clear15px { clear:both; padding:7px; }
.clear24px { clear:both; padding:12px; }
.clear40px { clear:both; padding:20px; }
.float_left { float:left; margin-right:10px; display:inline-block; }
.black_overlay {z-index:9; position:absolute; left:0; right:0; top:0; bottom:0; }
.no_pad { padding:0; margin:0; }

.top-header { background:url(images/header_image.png) no-repeat center top; background-attachment:fixed; background-size:cover; position:relative; padding:15px 0; color:#fff; z-index:9; }
.top-header:after { background-color:rgba(42,51,60,0.9); content:""; position:absolute; left:0; right:0; top:0; bottom:0; }
.top-header .container { position:relative; z-index:9999; }


.top_info {  margin-bottom:21px; margin-top:7px; padding-right:12px; }
.top_info ul { list-style:none; padding:0; margin:0; display:block; text-align:right;  }
.top_info ul li { font-size:15px; color:#fff; text-decoration:none; display:inline-block; margin-left:30px; }
.top_info ul li a { color:#fff; }
.top_info ul li:nth-child(2) { font-size:18px; }
.top_info ul li a i { display:inline-block; margin-right:5px; color:#8aacc7; font-size:18px; }
.top_info ul li a:hover, .top_info ul li a:hover i { color:#fff; text-decoration:none; }
.info_block { float:right; margin-top:20px;}
.info_block a { float:left; margin-left:5px; }
.info_block a i {color:#8aacc7; margin-right:5px;}
.info_block a:hover {color:#345d7b;}
.top-header .info_block { margin-top:3px;}
.top_loginbar { background:#abddf6; padding:7px 0; padding-right:20px;}
.top_loginbar .row { margin:0 -5px}
.top_loginbar .row [class*="col-"] { padding:0 5px;}
.top_loginbar form .form-control { border-radius:2px;  -webkit-border-radius:2px; border:0; box-shadow:none; font-size:13px; padding:4px 12px; height:auto; }
.top_loginbar form .btn {border-radius:2px; border:0; -webkit-border-radius:2px; box-shadow:none; font-size:13px; padding:4px 12px; height:auto; }


.bottom_loginbar { background:#abddf6; overflow:hidden; padding:15px 20px 23px 0;}
.bottom_loginbar .row { margin:0 -5px}
.bottom_loginbar .row [class*="col-"] { padding:0 5px;}
.bottom_loginbar form .form-control { border-radius:2px;  -webkit-border-radius:2px; border:0; box-shadow:none; font-size:13px; padding:4px 12px; height:auto; }
.bottom_loginbar form .btn {border-radius:2px; border:0; -webkit-border-radius:2px; box-shadow:none; font-size:13px; padding:4px 12px; height:auto; }

.mm-header{display:none}
.mm-header{text-align:center;font-size:24px;font-weight:700;color:#333;line-height:30px;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:45px;padding:0 20px;z-index:9999}
.mm-header.fixed{position:fixed;top:0;left:0;position:fixed;bottom:0;left:0}
.mm-header a{display:block;width:40px;height:auto;position:absolute;top:35px;right:0;padding:5px 0; font-size:24px;font-weight:700;color:#fff;}
#nav-bar{width:auto;height:auto; position:relative;z-index:9999;}
#nav { width:100%; position:relative; display:block; margin-top:9px; }
#nav ul { list-style:none; padding:0; margin:0; display:block; text-align:right;  }
#nav ul li { display:inline-block; }
#nav ul li a { display:block; padding:0 15px; font-size:18px; color:#fff; text-decoration:none; font-weight:normal; }
#nav ul li a:hover{text-decoration:none; color:#7591a9;}
#nav ul li a.active{text-decoration:none; color:#7591a9;}
#nav li{font-size:13px;font-weight:400;text-decoration:none;text-transform:none;height:auto;padding:0;z-index:9999!important;}
#nav li ul{font-size:13px;color:#FFF;text-decoration:none;text-transform:none;position:absolute;left:-999em;height:auto;width:200px;z-index:9999!important;margin-top:0;padding-top:0;margin-left:0!important}
#nav li li{width:200px; height:auto;display:block;cursor:pointer;border:none;padding:0;background-color:rgba(0,0,0,0.8);background-image:none!important;z-index:9999;border-bottom:rgba(255,255,255,0.2) solid 1px}
#nav li ul a{font-size:13px;color:#FFF;text-decoration:none;text-transform:none;width:auto;display:block;cursor:pointer;text-align:left;padding:10px 0 10px 12px !important;margin:0 auto;z-index:9999;background:none!important;border:none!important}
#nav li ul a:hover{color:#fff;text-decoration:none;left:auto; text-shadow:none!important;-webkit-border-radius:0!important;border-radius:0!important;background:none;opacity:1;z-index:9999;background-color:#396082!important}
#nav li ul ul{margin-top:-26px!important;margin-left:200px!important;padding-left:1px;z-index:9999}
#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul{left:-999em;color:#FFF;text-decoration:none;z-index:9999}
#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul{left:auto;color:#FFF;text-decoration:none;z-index:9999}
#nav li:hover,#nav li.sfhover{color:#FFF;text-decoration:none;z-index:9999}


#hero_banner { max-height:750px; overflow:hidden; position:relative; display:block; text-align:center; }
#hero_banner .owl-controls .owl-buttons div{display:inline-block; font-size:36px; text-align:center; width:70px; height:70px; -webkit-border-radius:70px; border-radius:70px; filter: Alpha(Opacity=100); transition:all linear 0.2s 0s; -webkit-transition:all linear 0.2s 0s;}
#hero_banner .owl-controls .owl-buttons div i { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
#hero_banner .owl-prev, #hero_banner .owl-next { position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); }
#hero_banner .owl-prev {left:15px; right:auto;}
#hero_banner .owl-next {right:15px; left:auto;}


.banner { position:relative; }
.banner .item:after { background-color:rgba(0,0,0,0.3); content:""; position:absolute; left:0; right:0; top:0; bottom:0; }
.banner .banner_caption { position:absolute; text-align:center; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); z-index:999999999;}
.banner .banner_caption h1 {font-size:65px; font-family: 'Raleway', sans-serif; color:#fff; font-weight:bold;}
.banner .banner_caption h3 { font-size:40px; margin:0; padding:0; text-transform:uppercase; color:#fff; margin-bottom:30px; }

.book_a_free_trial_button {background: rgb(55,99,132); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(55,99,132,1) 0%, rgba(26,36,45,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(55,99,132,1) 0%,rgba(26,36,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(55,99,132,1) 0%,rgba(26,36,45,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376384', endColorstr='#1a242d',GradientType=0 ); font-size:20px; color:#fff; text-decoration:none; font-weight:bold; border-radius:5px; -webkit-border-radius:5px; padding:8px 40px; }
.book_a_free_trial_button:hover {background: rgb(26,36,45); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(26,36,45,1) 0%, rgba(55,99,132,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(26,36,45,1) 0%,rgba(55,99,132,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(26,36,45,1) 0%,rgba(55,99,132,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a242d', endColorstr='#376384',GradientType=0 ); /* IE6-9 */ color:#fff; }



#welcome_section { background:url(images/header_image.png) no-repeat center top; background-size:cover; background-attachment:fixed; position:relative; border-bottom:#345d7b solid 5px; margin-top:-10px; }
#welcome_section:after { background-color:rgba(255,255,255,0.9); content:""; position:absolute; left:0; right:0; top:0; bottom:0; }
#welcome_section .container { position:relative; z-index:9999; text-align:center; }
#welcome_section h2 { margin-bottom:18px; font-size:45px; }
#welcome_section h2 strong { font-weight:900; }
#welcome_section h5 { font-size:18px; margin-bottom:15px; display:block; text-transform:uppercase; }


#services_section {position:relative; }
#services_section h3 { font-size:20px; color:#24394b; font-weight:bold; margin-bottom:15px; display:block; }
#services_section h3 a { color:#24394b; text-decoration:none; }
#services_section h3 a:hover { color:#000; text-decoration:none; }
.box_img { border-radius:5px; -webkit-border-radius:5px; margin-bottom:10px; display:block; overflow:hidden; }


#testimonials_section { position:relative; display:block; background:url(images/testimonials_img.png) no-repeat center top; background-size:cover; background-attachment:fixed; position:relative; padding-bottom:80px; }
#testimonials_section:after { background-color:rgba(42,51,60,0.9); content:""; position:absolute; left:0; right:0; top:0; bottom:0; }
#testimonials_section .container { position:relative; z-index:999; text-align:center; color:#fff; }
.testimonials_text_title { text-transform:uppercase; color:#8aacc7; }
#testimonials_section h2 { margin-bottom:18px; font-size:45px; color:#fff; }
#testimonials_section h2 strong { font-weight:900; }
#testimonials_section h5 { font-size:18px; margin-bottom:15px; display:block; color:#8aacc7; text-transform:uppercase; }
#testimonials_section .owl-pagination { position:absolute; left:5%; right:5%; bottom:-40px; }


#blog_section { position:relative; }
#blog_section h2 { margin-bottom:18px; font-size:45px; }
#blog_section h2 strong { font-weight:900; }
#blog_section h5 { font-size:18px; margin-bottom:15px; display:block; text-transform:uppercase; }
#blog_slider .item { margin:7px; }
#blog_slider .post_img { position:relative; }
.posted_by { background-color:#50616f; color:#fff; text-decoration:none; font-size:20px; color:#fff; position:relative; padding:19px; padding-left:30px; }
.posted_date { position:absolute; right:0; bottom:0; top:0; background-color:#000; font-size:15px; text-transform:uppercase; padding:7px 10px; display:inline-block; text-align:center; }
.post_box { padding:20px 30px; border:#CCC solid 1px; display:block; text-align:left; }
.post_box h3, .post_box h3 a { font-size:20px; margin:0; padding:0; color:#2f2f2f; text-decoration:none; font-weight:500; }
.post_box h3 { margin-bottom:10px; }
.post_box h3 a:hover {  text-decoration:none; }
.read_more_button { background-color:#24394b; padding:8px 20px; border-radius:5px; -webkit-border-radius:5px; color:#fff; display:inline-block; margin-top:10px; text-decoration:none; font-size:12px; text-transform:uppercase; border:0; }
.read_more_button:hover { border:0; background-color:#000; color:#fff; text-decoration:none; }

#blog_slider .owl-controls .owl-buttons div{display:inline-block; font-size:24px; text-align:center; width:55px; height:55px; -webkit-border-radius:55px; border-radius:55px; filter: Alpha(Opacity=100); transition:all linear 0.2s 0s; -webkit-transition:all linear 0.2s 0s;}
#blog_slider .owl-controls .owl-buttons div i { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
#blog_slider .owl-prev, #blog_slider .owl-next { position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); }
#blog_slider .owl-prev {left:-70px; right:auto;}
#blog_slider .owl-next {right:-70px; left:auto;}

#video_section { display:block; padding:0; }
#video_section iframe { width:100%; height:460px; margin:0; }


footer { background-color:#f5f5f5; display:block; padding:50px 0 0; margin-top:-6px; }
footer h3 { font-size:24px; color:#000; text-decoration:none; margin:0; padding:0; margin-bottom:20px; text-transform:uppercase; }
footer h3 strong { font-weight:900; }
footer .read_more_button { margin-top:0!important; }
ul.useful_list { list-style:none; padding:0; margin:0; display:block; text-align:left; }
ul.useful_list li { display:block; position:relative; padding-left:15px; font-size:14px; color:#0b0b0b; margin-bottom:7px; }
ul.useful_list li:last-child {margin-bottom:0; }
ul.useful_list li:before { position:absolute; left:0; top:1px; content:"\f105"; font-family:'FontAwesome'; font-size:18px; }
ul.useful_list li a { display:block; text-decoration:none; text-transform:uppercase; font-size:14px; color:#0b0b0b; }
ul.useful_list li a:hover { text-decoration:underline; color:#376485; }

.contact_info_box { display:block; margin-top:20px; margin-left:15px; }
.contact_info_box a { color:#0b0b0b; text-decoration:none; }
.contact_info_box a:hover { color:#376485; text-decoration:none; }

ul.cont_social { list-style:none; margin:0; padding:0; display:block; margin-left:15px; margin-bottom:12px;  }
ul.cont_social li { margin-left:7px; display:inline-block; }
ul.cont_social li a {  width:35px; height:35px; border-radius:100%;display:inline-block; text-align:center; line-height:34px; font-size:18px; color:#fff; background:#9fa7ae;}
ul.cont_social li a:hover { background:#355978; color:#fff;}


.contact_sec { background-color:rgba(42, 51, 60, 0.9); padding-bottom:80px; }
.contact_sec .container { position:relative; z-index:999; text-align:center; color:#fff; }
.testimonials_text_title { text-transform:uppercase; color:#8aacc7; }
.contact_sec h2 { margin-bottom:18px; font-size:42px; color:#fff;  margin-top:0; }
.contact_sec h2 strong { font-weight:800; }
.contact_sec .form-control { background:#f5f5f5; height:auto; color:#212121; margin-bottom:27px; padding:10px 12px;}
.contact_sec input[type="submit"] { border:0; font-size: 1em;    outline: medium none;    padding: 12px 0;    text-align: center;  width: 30%; }




.white_box { background:#fff; padding:18px; position:relative; overflow:hidden;}
.white_box:before {  border: 1px dashed #f3f3f3;
    bottom: 9px;
    content: "";
    left: 9px;
    position: absolute;
    right: 9px;
    top: 9px;}

ul.contact_list { list-style:none; margin:0; padding:0;}
ul.contact_list li { position:relative; padding-left:35px; margin-bottom:12px;}
ul.contact_list li i { position:absolute; left:5px; top:5px;}
.bt-cnt_social h4 { color:#d43c28; font-size:20px;}
.bt-cnt_social ul.social_icons_list { float:none; }
.white_box .contact_info_box, .white_box .cont_social, .white_box .map-wrapper, .white_box h4 { position:relative;}
.map-wrapper { }
.map-wrapper iframe {
	width:100%; position:relative;
	height:240px;
}
.map-wrapper ifreame { height:250px; width:100%;}

.copyrights_bar { background-color:#FFF; padding:15px 0; display:block; font-size:14px; color:#393939; margin-top:40px; }
.copyrights_bar a { font-size:14px; color:#393939; text-decoration:underline;  }
.copyrights_bar a:hover {color:#000; text-decoration:none; }

.body_contents { padding:50px 0; display:block; }
ul.checkbox_list { list-style:none; padding:0; margin:0; display:block; text-align:left; }
ul.checkbox_list li { display:inline-block; padding:0 10px; margin-right:15px; }
ul.checkbox_list li input { margin-right:10px; }
.fc-left h2 { font-size:24px; }

fieldset {border:1px solid #ccc; margin:0; min-width:0;  padding:10px 25px; margin-top:20px;}
fieldset ul { list-style:none; padding:0; margin:0; }
fieldset ul li { display:block!important; clear:both; }
legend {font-size:16px; line-height: inherit; margin-bottom:0; padding:0; width: 100%; border-bottom:0; position:relative;}
legend:before { position:absolute; left:0; right:0; bottom:12px; background-color:#CCC; height:1px; content:""; }
legend strong { background-color:#FFF; padding:0 10px; display:inline-block; position:relative; }



.login_box, .register_box { z-index:999;}
.comment-form {background: #f8f8f8;  border: 1px solid #dddddd; border-radius: 3px; padding:30px 30px 0;}
.comment-form .form-control { margin-bottom:30px}
.comment-form .btn {font-weight: bold; padding: 8px 15px; margin-bottom:30px}}
.comment-form .btn .fa { padding-right: 4px;}
.step-2, .step-3, .step-4, .step-5, .step-6, .step-7, .step-8, .step-9, .step-10, .step-11{display:none}
.questionair_data .read_more_button { margin-top:20px;}
.questionair_data .read_more_button i { margin-right:5px;}
ul.logout{list-style:none;}
ul.logout li{float:left;list-style:none10:34 PM 1/13/201710:34 PM 1/13/2017}
ul.logout li a.user{display:block;padding:5px 10px;}
.help-block{width:335px;max-width:100%;}
